$color: #fdc800;
$color0: #f0f4f9;
$color1: #003162;
$color2: #ffffff;

* {
  font-family: "Poppins";
}

.link-website {
  background-color: $color;
  font-size: small;
}

.home-logo {
  position: relative;
  background-color: $color0;
  color: $color1;
}

.post {
  position: absolute;
  background-color: $color1;
  margin-top: -50px;
  margin-left: 280px;
}

.hoursection {
  width: 400px;

  h1 {
    font-weight: 250px;
    font-size: 45px;
  }

  p {
    font-weight: 200;
    font-size: small;
  }
}

.topic {
  color: $color1;
  font-weight: bolder;
  text-align: center;
}

.large-image {
  width: 370px;
  height: 150px;
}

.small-image {
  position: absolute;
  margin-top: -41px;
  margin-left: 20px;
  width: 50px;
}

.courses {
  margin-top: 30px;

  h3 {
    font-weight: bold;
    margin-top: 35px;
    margin-left: 15px;
    color: $color1;
  }

  p {
    font-size: 10px;
    font-weight: lighter;
    margin-left: 15px;
  }
}

.cardsImage {
  position: relative;

  .graduation-image {
    margin-top: 125px;
    margin-left: 295px;
    width: 390px;
    height: 350px;
  }

  .instagram-top {
    position: absolute;
    background-color: #fdc800;
    margin-left: 290px;
    width: 60px;
    top: 100px;
  }

  .image-test {
    position: absolute;
    margin-left: 365px;
    margin-top: -35px;
    background-color: $color2;
    text-align: center;
    width: 180px;
  }
}

.text {
  font-weight: 100;
}

.content0 {
  margin-left: 15px;
}

.content {
  font-weight: 100;
  width: 500px;
}

.map {
  background-image: url(./assets/image/map.png);
  align-items: center;
  width: 1440px;
  height: 350px;
  background-repeat: no-repeat;
  position: relative;

  .fourimage {
    position: absolute;
    text-align: center;
    text-justify: center;
    margin-top: 35px;
  }
}

.card-head {
  h1 {
    text-align: center;
    background-color: $color1;
    color: $color2;
    margin-left: 65px;
  }

  p {
    font-size: x-small;
    margin-left: 15px;
  }
}

.threecard {
  background-color: $color0;
  height: 470px;
}

.card-content {
  font-size: small;
  margin-left: 10px;

  ul li:before {
    content: "\2713";
    display: inline-block;
    color: skyblue;
    padding: 0 10px 0 0;
  }
}

.footer-header {
  position: relative;
  background-color: $color1;
  height: 450px;

  color: $color2;
  font-size: small;
}

.footer-app {
  position: absolute;
  background-color: $color;
  height: 50px;
  width: 850px;
  margin-top: 400px;

  img {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .link-website {
    display: none;
  }

  .hoursection {
    display: none;
  }

  .home-logo {
    img {
      height: 25px;
      width: 25px;
      margin-left: 5px;
    }

    ul {
      font-size: x-small;
      gap: 10px;
      margin-top: 9px;
      color: red;
      margin-right: 10px;
    }
  }

  .home-content {
    margin-left: 0px;
    margin-top: 25px;
    width: 240px;

    h3 {
      margin-left: 49px;
    }

    p {
      margin-left: 34px;
      width: 266px;
      font-size: x-large;
    }
  }

  .home-button {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    margin-right: 0px;
    margin-left: 15px;
    width: 305px;
  }

  .home-image {
    display: none;
  }

  .post {
    margin-top: 0px;
    margin-left: 0px;
    width: 320px;

    img {
      width: 120px;
      height: 110px;
    }
  }

  .courses {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    row-gap: 10px;
  }

  .large-image {
    width: 252px;
    height: 150px;
  }

  .image {
    display: grid;
  }

  .cardsImage {
    margin-left: -284px;
    width: min-content;
    margin-top: -70px;

    .graduation-image {
      margin-top: 134px;
      margin-left: 302px;
      width: 290px;
      height: 270px;
    }
  }

  .content {
    width: 300px;
  }

  .content0 {
    margin-top: 20px;

    h2 {
      font-size: large;
    }

    h4 {
      margin: auto;
    }
  }

  .content1 {
    width: 18rem;
  }

  .map {
    height: 1225px;
    margin-left: -3rem;

    .fourimage {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 98px;
    }
  }

  .searching {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: asuto;

    h6 {
      margin-top: -100px;
    }

    h2 {
      font-size: large;
    }
  }

  .searching1 {
    margin-left: -30px;
    width: 267px;

    p {
      width: 112px;
      margin-left: -150px;
    }

    img {
      width: 215px;
    }
  }

  .threecard {
    height: 1220px;

    p {
      margin-left: 17px;
    }
  }

  .three-h {
    margin-left: 17px;
  }

  .three-p {
    display: none;
  }

  .threemain {
    display: block;
  }

  .onecard {
    margin-left: 40px;
  }

  .footer-content {
    display: none;
  }

  .footer-header {
    margin-right: -267px;
    width: 320px;

    .footer-logo {
      margin-right: -280px;
    }
  }

  .footer-app {
    width: 280px;
    justify-content: center;
    margin-right: 5px;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .body {
    width: 0px;
    height: 0px;
  }

  .link-website {
    font-size: small;
    width: 1223px;
    margin-left: -150px;

    .link-app {
      margin-left: 200px;
    }
  }

  .home-logo {
    width: 1074px;

    .logo {
      margin-left: 144px;
    }

    .nav-bar {
      margin-right: 145px;
    }

    .home-content {
      margin-left: 146px;
    }

    .home-image {
      width: 754px;
      height: 350px;
      margin-right: 132px;
    }
  }

  .post {
    margin-left: 144px;
    margin-right: -172px;
  }

  .hoursection {
    width: 610px;
  }

  .topic {
    margin-left: 310px;
  }

  .courses {
    column-gap: 450px;
    margin-left: -131px;
  }

  .image {
    margin-left: -115px;
  }

  .content0 {
    margin-left: 313px;
  }

  .content1 {
    margin-top: auto;
  }

  .map-home {
    width: 1074px;
  }

  .map {
    margin-left: 145px;
    margin-right: 96px;
  }

  .searching {
    margin-left: 150px;
    margin-right: -400px;
  }

  .threecard {
    margin-right: -689px;
    margin-left: -118px;
    width: 1192px;

    .three-h {
      margin-left: 295px;
    }

    .three-p {
      margin-right: 170px;
    }
  }

  .threemain {
    gap: 5px;
    margin-left: 125px;
  }
  
  .footer-header {
    margin-right: -584px;
    width: 1074px;
  }

  .footer-app {
    margin-right: 2px;
    width: 755px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .link-website {
    width: 1262px;
    margin-left: -188px;
  }

  .home-logo {
    width: 1074px;
  }

  .logo {
    margin-left: 110px;
  }

  .nav-bar {
    margin-right: 130px;
  }

  .home-content {
    width: 1011px;
    margin-left: 100px;
  }

  .post {
    margin-left: 95px;
  }

  .courses {
    column-gap: 217px;
    margin-left: -186px;
  }

  .cardsImage {
    margin-left: -210px;
  }

  .map-home {
    margin-right: -51px;
    margin-left: -185px;
  }

  .searching {
    margin-left: 125px;
  }

  .threecard {
    width: 1074px;
  }

  .three-h {
    margin-left: 102px;
  }

  .three-p {
    margin-right: 116px;
  }

  .threemain {
    margin-left: -5px;
  }

  .footer-header {
    width: 1071px;
  }

  .footer-app {
    margin-top: 398px;
  }
}
